<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 99;">
  <!-- <a class="navbar-brand" href="/">FTC</a> -->
  <div class="container">
    <h1 style="display: inline;">FTC</h1>
    <span><a class="nav-link" href="/signup">Signup</a></span>
    <span><a class="nav-link" href="/login">Login</a></span>

  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active" href="/signup">Signup <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/login">Login</a> -->

    </div>
  </div>
</nav>