<div class="navi">
  <ul>
    <li class="active"><a href="/dashboard">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span class="hidden-xs hidden-sm">Home</span></a>
    </li>


    <li data-toggle="modal" data-target="#profile">
      <a href="/dashboard?action=profile&id=<%= data.user._id %>">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="hidden-xs hidden-sm"> Profile </span>
      </a>
    </li>

    <li><a href="/dashboard?action=notifications&id=<%= data.user._id %>"><i class="fa fa-bell"
          aria-hidden="true"></i><span class="hidden-xs hidden-sm">Notice</span></a>
    </li>
    <% if(data.user.isAdmin){%>
    <li><a href="/dashboard?action=users&id=<%= data.user._id %>"><i class="fa fa-users" aria-hidden="true"></i><span
          class="hidden-xs hidden-sm">Users</span></a>
    </li>

    <li><a href="/admin"><i class="fa fa-key" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Admin</span></a>
    </li>
    <%}%>

    <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span
          class="hidden-xs hidden-sm">Logout</span></a></li>
  </ul>
</div>