<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <style>
    /* end our-solution */
  </style>
</head>

<body>
  <section id="our-solutions" class="row">
    <h2 class="section-heading">Some Solutions</h2>
    <div class="container">
      <div class="grid-1 grid-md-1"></div>
      <div class="grid-6 grid-md-6">

        <ul>
          <li>
            <details>
              <summary>
                <h3>Wayfarer</h3>
              </summary>
              <p><strong>Wayfarer</strong> is a public bus transport management api.
                Endpoint supports allows users to signup, login, view all trips,
                book a seat on a trip, see their bookings and also get a filtered list of trips
                based on start and destination locations.

              </p>
            </details>
          </li>
          <li>
            <details>
              <summary>
                <h3>Trackr</h3>
              </summary>
              <p><strong>Trackr</strong> is a proactive task & time management app for improving effectiveness
                at work and home.

              </p>
            </details>
          </li>
          <li>
            <details>
              <summary>
                <h3>CurrencyPro</h3>
              </summary>
              <p><strong>CurrencyPro</strong> is a currency conversion app for Local
                and foreign merchant. Users can convert from one currency to another
                using latest exchange rate.
              </p>
            </details>
          </li>
        </ul>
        </details>

      </div>
      <div class="grid-4 grid-md-4">
        <div class="solution-image"></div>

      </div>
    </div>
    <div class="grid-1 grid-md-1"></div>
  </section>

  <script src="" async defer></script>
</body>

</html>