<%- include("partials/header", { title: "404/Page Not Found"}) -%>

<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1 class="danger">Page Not Found</h1>
    <p><a href="/">Go back</a></p>
  </div>
  <div class="col-md-4"></div>
</div>
<%- include("partials/footer") -%>