<%- include("partials/header", { title: "Super Admin"}) -%>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form method="POST" action="/admin">
        <h2>Assign Admin Priviledge</h2>
        <p>Be sure before you do this!!</p>
        <% if(data.message) {%>
        <%= data.message %>
        <%} %>
        <div class="form-group">
          <label for="">Email</label>
          <input name="email" placeholder="Email of user" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary mb-4">Make Admin</button>

        <a href="/dashboard" class="btn btn-info mt-4">Dashboard</a>
      </form>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a href="/admin?action=raw_delete_users">Delete Users (Raw) </a></li>
      </ul>
    </div>
  </div>
</div>



<%- include("partials/footer") -%>