<%- include("partials/header", { title: "Welcome"}) -%>
<%- include("partials/navbar") -%>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 col-sm-12 mt-5">
        <!-- <h1 class="mb-4" style="text-align: center; color: #f6f7fa;">FTC Portal</h1>
         <h4>Welcome </h4> 
        <a href="/signup" class="btn btn-primary mr-4 btn-lg">Signup</a>
        <a href="/login" class="btn btn-info ml-4 btn-lg">Login</a> -->
      </div>

      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>